In [1]:
# Importando as bibliotecas necessárias 
import pandas as pd 
import plotly_express as px
import streamlit as st

In [2]:
df_car = pd.read_csv('../vehicles.csv') # Lendo os dados

In [3]:
df_car.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [4]:
df_car.info() # Verificando os tipos de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

### Valores nulos nas colunas model_year, cylinders, odometer, paint_color e is_4wd, vou corrigir valores nulos e alterar o tipo da coluna date_posted para datetime

In [5]:
df_car.isnull().sum() # Verificando valores nulos

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [6]:
df_car.describe() # Verificando estatísticas descritivas

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [7]:
df_car = df_car[df_car['price'].notnull() & (df_car['price'] >= 150)] # Filtrando valores não nulos 
# Garantindo que fique os valores acima de 150

In [8]:
df_car['is_4wd'] = df_car['is_4wd'].astype('bool') # Convertendo a coluna is_4wd para booleano
df_car['is_4wd'] = df_car['is_4wd'].fillna(0) # Preenchendo valores nulos com 0

In [9]:
df_car['cylinders'] = df_car.groupby('cylinders')['cylinders'].transform(lambda x: x.fillna(x.median())) # Preenchendo valores nulos com a moda

In [10]:
df_car['cylinders'] = df_car['cylinders'].fillna(df_car['cylinders'].median()) # Preenchendo valores nulos com a mediana

In [11]:
print(sorted(df_car['model_year'].unique())) # Verificando os anos dos modelos

[np.float64(2011.0), np.float64(nan), np.float64(1908.0), np.float64(1929.0), np.float64(1936.0), np.float64(1948.0), np.float64(1949.0), np.float64(1954.0), np.float64(1955.0), np.float64(1958.0), np.float64(1960.0), np.float64(1961.0), np.float64(1962.0), np.float64(1963.0), np.float64(1964.0), np.float64(1965.0), np.float64(1966.0), np.float64(1967.0), np.float64(1968.0), np.float64(1969.0), np.float64(1970.0), np.float64(1971.0), np.float64(1972.0), np.float64(1973.0), np.float64(1974.0), np.float64(1975.0), np.float64(1976.0), np.float64(1977.0), np.float64(1978.0), np.float64(1979.0), np.float64(1980.0), np.float64(1981.0), np.float64(1982.0), np.float64(1983.0), np.float64(1984.0), np.float64(1985.0), np.float64(1986.0), np.float64(1987.0), np.float64(1988.0), np.float64(1989.0), np.float64(1990.0), np.float64(1991.0), np.float64(1992.0), np.float64(1993.0), np.float64(1994.0), np.float64(1995.0), np.float64(1996.0), np.float64(1997.0), np.float64(1998.0), np.float64(1999.0), np.float64(2000.0), np.float64(2001.0), np.float64(2002.0), np.float64(2003.0), np.float64(2004.0), np.float64(2005.0), np.float64(2006.0), np.float64(2007.0), np.float64(2008.0), np.float64(2009.0), np.float64(2010.0), np.float64(2012.0), np.float64(2013.0), np.float64(2014.0), np.float64(2015.0), np.float64(2016.0), np.float64(2017.0), np.float64(2018.0), np.float64(2019.0)]

In [12]:
mediana_model_year = df_car['model_year'].median() # Calculando a mediana
df_car.fillna({'model_year': mediana_model_year}, inplace=True) # Preenchendo valores nulos com a mediana

In [13]:
df_car['odometer'].isnull().sum() # Verificando valores nulos

np.int64(7752)

In [14]:
media_odometer = df_car['odometer'].mean() * 0.5 # Calculando a média
df_car.fillna({'odometer' : media_odometer}, inplace=True) # Preenchendo valores nulos com a média

In [15]:
total_duplicados = df_car.duplicated().sum() # Verificando valores duplicados
if total_duplicados > 0:
    df_car.drop_duplicates(inplace=True) # Removendo valores duplicados
    print(f'{total_duplicados} duplicados removidos')

In [16]:
df_car.duplicated().sum() # Verificando valores duplicados novamente

np.int64(0)

In [17]:
df_car['paint_color'].isnull().sum() # Verificando valores nulos

np.int64(9095)

In [20]:
df_car.fillna({'unknown': df_car['paint_color']}, inplace=True) # Preenchendo valores nulos com unknown
df_car['paint_color'].isnull().sum() # Verificando valores nulos novamente

np.int64(0)

In [19]:
df_car.info() # Verificando os tipos de dados novamente

<class 'pandas.core.frame.DataFrame'>
Index: 50659 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         50659 non-null  int64
 1   model_year    50659 non-null  float64
 2   model         50659 non-null  object
 3   condition     50659 non-null  object
 4   cylinders     50659 non-null  float64
 5   fuel          50659 non-null  object
 6   odometer      50659 non-null  float64
 7   transmission  50659 non-null  object
 8   type          50659 non-null  object
 9   paint_color   50659 non-null  object
 10  is_4wd        50659 non-null  bool
 11  date_posted   50659 non-null  object
 12  days_listed   50659 non-null  int64
dtypes: bool(1), float64(3), int64(2), object(7)
memory usage: 5.1+ MB

## DataFrame limpo

In [21]:
df_car.to_csv('df_car.csv', index=False) # Salvando o dataframe em um arquivo CSV